table a, li a, p a {
text-decoration-line: underline;
text-decoration-style: dotted;
text-decoration-color: black;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
text-decoration: none;
}

pre {
background-color: #ffffff;
color: #000000;
overflow-x: scroll;
white-space: pre;
border: 1px solid black;
}

pre code {
color: #0000000;
}

p code {
font-family: monospace;
font-size: 0.85em;
border-radius: 4px;
border: 1px solid black;
color: #000000;
display: inline-block;
padding: 0 5px;
margin: 0;
}